.world-map svg path {
  fill: #ececec;
  stroke: black;
  stroke-width: 0.2;
  cursor: pointer;
  transition: fill 0.2s ease;
}

.world-map svg path:hover {
  fill: #4da3ff;
}


.data{
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
}

.data-section{
  width: 40vh;
  height: 40vh;
  border-style: solid;
  border-color: lightgray;
  padding:2.5%
}

.chart-section{
  width: 100vh;
  height: 40vh;
  border-style: solid;
  border-color: lightgray;

}
