<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Custom CSS: Your own styles go here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{{ title }} Overview</title>
</head>
<body>
    <div class="chart">
        <canvas id="myChart"></canvas>
    </div>

    <!-- Store Flask data as a JavaScript variable -->
    <script>
        const labels = JSON.parse('{{ labels | tojson | safe }}');
        const chartData = JSON.parse('{{ data | tojson | safe }}');

        const data = {
            labels: labels,
            datasets: [{
                label: 'Population ({{title}})',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: chartData,
            }],
        };

        const config = {
            type: 'line',
            data: data,
            options: {
                scales: {
                    y: {
                        title: {
                            display: true,
                            text: 'Population',
                            align: 'center',
                            padding: 10
                        }
                    },

                    x: {
                        title: {
                            display: true,
                            text: 'Year',
                            align: 'center',
                            padding: 10
                        }
                    }
                }
            }
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>
    <h2>Year-on-Year Growth: {{growth_stats[0]}}</h2>
    <h2>5 Year Growth Trend: {{growth_stats[1]}}</h2>

</body>
</html>